.container{
  background-color: rgba(35,37,39,.85);
  border: 1px solid white;
  overflow: hidden;
}

.experienceC{
  border: 1px solid white;
}

.refer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.refer p{
  background: black;
  border: 1px solid black;
  width: 20rem;
  color: white;
 text-align: center;
}