.container{
  position: fixed;
  bottom: 0%;
   background-color: white;
   height: 3rem;
   width: 100%;
}

.personalInfo{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}