.container{
  position: fixed;
  bottom: 0%;
   background-color: white;
   height: 3rem;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.personalInfo{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image{
  cursor: pointer;
}
.middle{
  display: flex;
}

.copyright{
  width: 30%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}