.projectContainer{
  padding: 2rem 4rem 4rem 4rem;
}

.tableContainer{
  margin-top: 2rem;
  width: 100%;
}


@media screen and (max-width: 768px){
  .projectContainer{
    padding: 2rem 10px 10px 10px;
  }
}