.projectContainer{
  padding: 2rem 4rem 4rem 4rem;
}

.tableContainer{
  margin-top: 2rem;
  width: 100%;
}

.heading{
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: 768px){
  .projectContainer{
    padding: 2rem 10px 10px 10px;
  }
}

.floater{
  height: 3rem;
  width: 3rem;
  background-color: black;
  position: fixed;
  top: 80%;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.refer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.refer p{
  background: black;
  border: 1px solid black;
  width: 20rem;
  color: white;
 text-align: center;
}